$border-grey: #c1c9d4;
$error-color: #a94442;
.uploader-dropzone {
    background: #fff;
    border: 2px dashed $border-grey;
    min-height: 91px;
    padding: 5px;
    position: relative;
    margin: 1em 0;

    .hint {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        line-height: 91px;
        color: $border-grey;
        font-size: 2em;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.uploader-queue {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: block;
        margin: 0;
        padding: 10px 200px 0 90px;
        position: relative;
        overflow: hidden;
        background: #fff;
        min-height: 81px;
        border: 1px solid $border-grey;

        & + li {
            border-top: 0;
        }

        p {
            margin-bottom: 6px;
        }

        .error {
            font-weight: 600;
            color: $error-color;
        }

        .warning {
            color: $error-color;
        }
    }

    .preview {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 81px !important;
        height: 80px !important;
        //background: #f3f6fb;
        border-right: 1px solid $border-grey;
    }

    .processing .preview {
        background-size: 50% 50%;
    }

    .buttons {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;

        button {
            margin: 0 0 5px 0;
        }
    }

    .progress {
        margin: 0;
    }
}

.fileupload-buttonbar {
    .btn-primary {
        margin-top: 0;
    }
}

#uploader-row .fileupload-options label {
    font-weight: normal;
}

@media (max-width: 767px) {
    .uploader-queue {
        li {

            padding: 10px 110px 0 90px;
        }

        .name {
            width: auto;
        }

        .size {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    .uploader-queue {
        li {
            padding: 86px 10px 0 10px;
        }
    }
}

@mixin _uploader-dark {

    .uploader-dropzone {
        color: rgba(255, 255, 255, 0.75);
        background-color: rgba(#202b35, 0.6);
        border-color: rgba(#1b232c, 0.6);
        .hint {
            color: rgba(255, 255, 255, 0.45);
        }
    }

    .uploader-queue {
        li {
            background-color: rgba(#1b232c, 0.8);
            border-color: rgba(#151c22, 0.8);
        }
        .preview {
            border-right-color: rgba(#151c22, 0.8);
        }
    }
}

body.rex-theme-dark {
    @include _uploader-dark;
}

@media (prefers-color-scheme: dark) {
    body.rex-has-theme:not(.rex-theme-light) {
        @include _uploader-dark;
    }
}

.uploader-bulk-rework-table {
    .column-filesize-bytes {
        color: #BBB;
        padding-left: 2px;
    }

    .column-title-tooltip-hint {
        color: #00F;
        margin-right: 5px;
    }

    .dimension-too-large {
        width: 12px;
        height: 12px;
        background-color: rgba(255,255,255,1);
        border-radius: 50%;
        margin-left: 8px;
        display: inline-block;
        vertical-align: baseline;
        border: 1px solid #DDD;
    }

    .panel.panel-default {
        margin-bottom: 0;
    }

    tbody td label {
        font-weight: normal;
        margin-bottom: 0;
    }
}

.uploader-bulk-rework-current-settings {
    margin-top: 3px;
    color: #647f9e !important;
}

.uploader-bulk-rework-hits {
    background-color: #00000015;
    color: #555 !important;
    font-weight: bold;
    padding: 5px 15px;
    margin: 7px -15px -10px;
}
